:root {
  --primary-background: #c4b1eff3;
  --secondary-background: #a6bf8dde;
  --nav-background: #3b35048c;
  --primary-text: #07200f;
  --visi-text: #ffffff;
  --base-spacing: 5px;
}

html {
  background-image: url("../img/forestparkimagebig.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  /* background: var(--primary-background); */
}

h1 {
  font-family: "Coda Caption", sans-serif;
  text-align: center;
}

header {
  padding: calc(var(--base-spacing) * 2);
  background: var(--secondary-background);
  color: var(--visi-text);
}

div {
  margin: calc(var(--base-spacing) * 13);
  display: flex;
}

p {
  background: var(--visi-text);
  opacity: 0.72;
  font-weight: bolder;
  color: var(--primary-text);
  padding: calc(var(--base-spacing) * 6);
}

li {
  font-size: 0px;
  height: 0px;
}

.fas {
  font-size: 30px;
}

nav {

}

/* Media Queries for tablet */

@media screen and (min-width: 425px) {
  .fas {
    font-size: 0px;
  }

  .hamburger--tablet,
  li {
    list-style: none;
    font-size: calc(var(--base-spacing) * 3.2);
  }

  .hamburger--tablet {
    background: var(--secondary-background);
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

/* Media queries for desktop */

@media screen and (min-width: 1440px) {
  .fas {
    font-size: 0px;
  }

  li {
    list-style: none;
    font-size: calc(var(--base-spacing) * 3.2);
  }

  .hamburger--tablet {
    background: var(--secondary-background);
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}
