:root {
  --primary-background: #d0efb1;
  --secondary-background: #a6bf8d;
}

body {
  background: var(--primary-background);
}

h1 {
  font-family: 'Coda Caption', sans-serif;
  text-align: center;
}

img {
  /* font-family: 'Coda Caption', sans-serif;display: flex; */
  height: 125px;
  justify-items: flex-end;
}

header {

  padding: 10px;
  /* background: var(--secondary-background); */
  background-image: url("../img/forestparkimagebig.jpg") ;
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}

li {
  list-style: none;
  font-size: 20px;
  opacity: 0.5;
}

p {
  border: 2px dotted black;

}

@media screen and (min-width: 768px) {
  .hamburger--mobile,
  li {
    font-size: 0;
    height: 0;
  }
}

@media screen and (min-width: )
